body{
   
}
.terre{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    background-image: url(../photos/135212.jpeg);
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px black inset, 0 0 20px 2px black;
    animation: tourne 30s linear alternate infinite;
}

@keyframes tourne{
    100%{
        background-position: 100%;
    }
}

